<% include head %>

<div class="container">
  <h1>Github Auth Test</h1>
  <p><a href="/authorize">Login with Github</a></p>    
</div>

<% include required_scripts %>
<script src="js/entry-screen.js"></script>
<% include foot %>