<% include head %>

  <div class="container">
      
      <h1 class="intro">Github Authentication</h1>
      <p>You're logged in!</p>

      <div id="gh_det">

      </div>

    </div>
  </div>

<% include required_scripts %>
<script src="/js/main-screen.js"></script>
<% include foot %>